.grid
  .grid__item.lapdesk-one-third
    = render :partial => "templates/components/cards/basic"
  .grid__item.lapdesk-one-third
    = render :partial => "templates/components/cards/basic"
  .grid__item.lapdesk-one-third
    = render :partial => "templates/components/cards/basic"
.grid
  .grid__item
    = render :partial => "templates/components/cards/full"
.grid
  .grid__item
    = render :partial => "templates/components/pagination/basic"